.badges {
	color: var(--color-accent);
	display: flex;
	flex-direction: column;
	row-gap: 10px;

	&__item {
		max-width: max-content;
		border: solid var(--color-accent) var(--border-width-m);
		border-radius: var(--b-rad-l);
		padding: 5px 13px;
		@include mobile-s {
			text-align: center;
			max-width: 100%;
			width: 100%;
		}
	}
}
