@use 'helpers/index' as *;

:root {
	--ff-main: 'Open Sans';

	--color-main: #1e3a8a;
	--color-metal: #ddebf6;
	--color-accent: #277ed2;
	--color-white: #ffffff;
	--color-dark: #000000;
	--color-success: #0D9488;

	--color-outline: var(--color-main);

	--transition-duration: 0.3s;

	--border-width-m: 2px;
	--border-width-l: 3px;

	--b-rad-s: 10px;
	--b-rad-m: 20px;
	--b-rad-l: 30px;
}
