.header {
	max-width: 100%;
	width: 100%;
	position: relative;
	padding-block: fluid(30, 3);

	@include mobile {
		padding: 0;
	}

	&__socials {
		display: none;
		@include mobile {
			display: flex;
		}
	}

	&__burger {
		display: none;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 15px;
		z-index: 2;
		@include square(25px);
		max-width: 30px;
		width: 100%;
		@include mobile {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&.active {
			& span {
				&:nth-child(1) {
					rotate: 45deg;
					transform-origin: 0;
					translate: 0.23em 0.02em;
				}

				&:nth-child(2) {
					rotate: -45deg;
				}

				&:last-child {
					width: 0;
				}
			}
			transition-duration: 0s;
			position: fixed;
			top: 15px;
			right: 15px;
		}

		& span {
			display: block;
			width: 100%;
			height: 3px;
			background-color: var(--color-main);
		}
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: end;

		@include mobile {
			justify-content: center;
			padding-top: 50px;
		}
	}

	&__nav {
		@include mobile {
			display: none;
			background-color: var(--color-metal);
			max-width: 100%;
			width: 100%;
			min-height: 100vh;
			position: absolute;
			top: 50px;
			transform: translateX(-100%);
			z-index: 1;
		}

		&.active {
			display: block;
			animation: showNavAnimation var(--transition-duration) forwards;
		}

		&.not-active {
			animation: hideNavAnimation var(--transition-duration) forwards;
		}

		@keyframes showNavAnimation {
			from {
				transform: translateX(-100%);
			}
			to {
				transform: translateX(0);
			}
		}

		@keyframes hideNavAnimation {
			from {
				transform: translateX(0);
			}
			to {
				transform: translateX(-100%);
				display: none;
			}
		}
	}

	&__menu {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 30px;

		@include mobile {
			flex-direction: column;
			font-size: 20px;
		}

		&-link {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				bottom: -5px;
				width: 0;
				height: 2px;
				background-color: var(--color-main);
				transition: width var(--transition-duration) ease-in-out;
			}

			&:hover::after {
				width: 100%;
			}
		}
	}
}
